.search-icon {
  margin-right: 0.5rem;
  color: #888;
}

.search-container {
  display: flex;
  width: 70%;
  height: 56px;
  padding-inline: 56px;
  border-radius: 24px;
  border: solid 1px rgb(198, 198, 198);
  background-color: rgb(242, 245, 246);
  align-items: center;
  margin: 20px auto;
  justify-content: center;
}

.search-input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 1rem;
  background-color: rgb(242, 245, 246);
}
