.mealtype-container{
  display: flex;
  gap: 50px;
  justify-content: center;
  padding-top: 20px;
}

.mealtype-label{
  text-align: center;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-size: 18px;
}

.mealtype-image{
  border-radius: 50%;
  object-fit: cover;
  height: 150px;
  width: 150px;
}

.mealtype-button {
  border: none;
  background-color: white;
  cursor: pointer;
}
