.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.436);
  border-radius: 10px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  text-align: center;
}

.card-container:hover {
  transform: scale(1.02);
}

.prep-time {
  font-size: medium;
}

.recipe-title {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-size: 18px;
}
